
    
/* .p1{color: aqua;
    font-size: 30px;}       
    .p2{color: blue;
        font-size: 10px;
    }
    .p3{color: blueviolet;
           font-size: 20px;}
    .p4{color: chartreuse;
          font-size: 20px;}        */
          /* div{
            height: 100px;
            width: 100px;
          }
          .test{
            color: brown;text-align: center;background-color: blueviolet;
            position: absolute;
            margin-right: 30%;
          }
    
.ll{color: brown;background-color: aquamarine;
    position: absolute;
            
}
     .contenar{background-color: darkgreen;}
     .aa{background-color: violet;}
     .bb{background-color: tomato;} */
     /* .r3{font-style: italic;}
     .r4{font-style: italic;}
     .contenar{background-color: rgb(79, 92, 205);
                position: absolute;
                height: 1cm;
                width:2.3cm ;
                font-size: 15px;
    }
     .author{
      position: absolute;
     
     margin-left: 40%;
     margin-bottom: 40%; */
     /* } */
     /* ***************
     .v1{font-style: initial;
        font-size: 40px;
        margin-left: 10%;
        margin-top: 10%;
     }
     .v2{font-family: monospace;
      position: absolute;
         font-size: 10px;
         margin-left: 10%;
    }
    .v{margin-left:70%;
      margin-bottom: 60%;
      position: absolute;
    }
    .contenar{background-color: rgb(237, 175, 207);
      
      height: 4cm;
      width:35cm ;
      margin-bottom: 70%; 
    margin-top: 31%;  }
***************** */











